extends layout

block content
    .text-center
        if resetError
            .alert.alert-danger.alert-dismissible.fade.show.form-signin(role='alert')
                strong Error!
                |  #{errorMessage}
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                    span(aria-hidden='true') &times;
        if resetSuccess
            .alert.alert-success.alert-dismissible.fade.show.form-signin(role='alert')
                strong Success!
                |  Password is reset. Login now.
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                    span(aria-hidden='true') &times;
        form#signin.form-signin(action='/reset-password', method='POST')
            h1.h3.mb-3.font-weight-normal Reset Password
            label.sr-only(for='inputEmail') Email address
            input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='', style='margin-bottom:10px', name='email')
            label.sr-only(for='inputPassword') Old Password
            input#oldPassword.form-control(type='password', placeholder='Password', required='', style='margin-bottom:20px', name='oldPassword')
            label.sr-only(for='inputPassword') New Password
            input#newPassword.form-control(type='password', placeholder='Password', required='', style='margin-bottom:20px', name='newPassword')
            label.sr-only(for='inputPassword') Renter Password
            input#rePassword.form-control(type='password', placeholder='Reenter Password', required='', style='margin-bottom:20px', name='repassword')
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Reset
        a.small(href='/login') Sign in